<% if current_user %>
  <h1 class="center">Welcome to Blog, <%= current_user.first_name %> <%= current_user.last_name %></h1>
<% else %>
  <h1 class="center">Welcome to Blog!</h1>
<% end %>
<%= image_tag("blog.png", class: "h_logo") %>
