.logo{
  width: 15%;
  float: left;
  margin-top: 0px
}

.space{
  margin-left: 15%;
}

.center{
  text-align: center;
}

.h_logo{
  display: block;
  margin-top: 15%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}
